th{
  font-weight: bold;
  font-size:17px;
}

h2{
  text-align: center;
}

table tr:hover {
  background-color: #280163;
}

button:hover{
  background-color: rebeccapurple;
  color: white;
}

.top-tier{
  display:flex;
  justify-content: left;
  height:50px;
  overflow: hidden;
}

.filter{
  display:flex;
  justify-content: left;
}

.filterbuttons{
  height:50px;
}
