th{
  font-weight: bold;
  font-size:17px;
}
/*.mat-row:nth-child(2n+1){*/
/*  background-color: lightpink;*/
/*}*/
/*.mat-row:not(:nth-child(4n+1)){*/
/*  background-color: lightblue;*/
/*}*/

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
h2{
  text-align: center;
}

table tr:hover {
  background-color: #280163;
}

table tr:nth-child(2n+1){
  background-color: #2f2f2f;
}
table tr:nth-child(2n){
  background-color: #4b4b4b;
}

button:hover{
  background-color: rebeccapurple;
  color: white;
}

.top-tier{
  display:flex;
  justify-content: left;
  height:50px;
  overflow: hidden;
}

.filter{
  display:flex;
  justify-content: left;
}

.filterbuttons{
  height:50px;
=======
.mat-row:hover {
  background-color: darkslateblue;
  cursor: pointer;
>>>>>>> parent of a5a0e41 (last updates on front end for lab)
}

.selectCol{
  height:50px;
=======
.mat-row:hover {
  background-color: darkslateblue;
  cursor: pointer;
>>>>>>> parent of a5a0e41 (last updates on front end for lab)
=======
.mat-row:hover {
  background-color: darkslateblue;
  cursor: pointer;
>>>>>>> parent of a5a0e41 (last updates on front end for lab)
}
